body {
    margin: 0;
    padding: 100;
    font-family: 'padding', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navi {
    font-family: 'padding', sans-serif;
}

nav {
    background: #83aa6b;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

.wave {
    opacity: 0.2;
    position: fixed;
    height: 110%;
    left: -60;
    bottom: -65;
    z-index: -1;
}

.card {
    outline: none;
	border-radius: 15px;
    border: 1px solid #AAAAAA;

    width: 650px;
    height: 85px;

    background: none;
    padding: 0px;
    font-size: 16px;

	background-image: linear-gradient(to right, white, #ccdbbd);

    margin: 10px;
    transition: 0.3s;
    position: relative;


    color: #000;

    background-size: 200%;

}

.card2 {
    outline: none;
	border-radius: 15px;
    border: 1px solid #AAAAAA;

    width: 350px;
    height: 280px;

    background: none;
    padding: 0px;
    font-size: 16px;

	background-image: linear-gradient(to right, white, #ccdbbd);

    margin: 10px;
    transition: 0.3s;
    position: relative;


    color: #000;

    background-size: 200%;

}

.btn {
	border-radius: 15px;
	width: 80px;
    height: 82px;
    border: 1px solid #AAAAAA;
    padding: 0;
    color: #000;
    background-color: #83aa6b;
	font-weight: bold;
    cursor: pointer;

    position: absolute;
}

.btn:hover {
    background-image: linear-gradient(to right, #83aa6b, #d8ffbd);
    transition: .s;
}

.container1 {
    display: block;
    margin-top: 1%;
    height: 100%;
    float: left;
    margin-left: 3%;
}



.container7 {
    display: block;
    height: 100%;

    margin-top: 6%;
    margin-left: 12%;
}

.container8{
	margin-left:35%;
}

#CreateGroup{
	width: 27%;
    height: 47px;
    border-radius: 25px;
    margin: 1rem 0;
    padding: 10px 178px;
    font-size: 1.2rem;
    background-color: #83aa6b;
    
}


.input-div.five {
	margin-top: 2%;
    margin-left: 65%;
    border-bottom: 2px solid silver;
    width:30%;
    display: grid;
    grid-template-columns: 7% 93%;
 
    padding: 5px 0;
    
}


.container2 {
	margin-left: 103%;
}



.container6{
	margin-left:65%;
    width:30%;
}


.list {
    float: left;
	
}

.list2 {
    display: contents;
    justify-content: space-evenly;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}



a:hover {
    background: #9bba88;
    transition: .3s;
}


.input-div {
 
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid silver;
}



.input-div.focus .i i {
    color: #83aa6b;
}

.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}


.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #d9d9d9;
    transition: .3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}


form h2 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
   
}

.input-div > div h5 {
    position: absolute;
    
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
}


.title {
    width: 750px;

    border: 1px solid #AAAAAA;
    border-radius: 15px;
    padding: 16px 20px;

    color: white;
    text-transform: uppercase;

	position: top;

    background-color: #83aa6b;
	margin-left: 0.8%;
	
}


.schedule {
	margin-top:4%;
	color: black;

}

.name {
	font-size: 20px;
}


