body {
    margin: 0;
    padding: 100;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navi {
    font-family: 'padding', sans-serif;
}

nav {
    background: #83aa6b;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

.wave {
    opacity: 0.2;
    position: fixed;
    height: 110%;
    left: -60;
    bottom: -65;
    z-index: -1;
}

.card {
    outline: none;
	border-radius: 15px;
    border: 1px solid #AAAAAA;

    width: 650px;
    height: 85px;

    background: none;
    padding: 0px;
    font-size: 16px;

	background-image: linear-gradient(to right, white, #ccdbbd);

    margin: 10px;
    transition: 0.3s;
    position: relative;


    color: #000;

    background-size: 200%;

}

.card2 {
    outline: none;
	border-radius: 15px;
    border: 1px solid #AAAAAA;

    width: 350px;
    height: 280px;

    background: none;
    padding: 0px;
    font-size: 16px;

	background-image: linear-gradient(to right, white, #ccdbbd);

    margin: 10px;
    transition: 0.3s;
    position: relative;


    color: #000;

    background-size: 200%;

}

.btn {
	width: 80px;
    height: 82px;
	border-radius: 15px;
    border: 1px solid #AAAAAA;
    padding: 0;
    color: #000;
    background-color:#ccdbbd;
	font-weight: bold;
    cursor: pointer;

    position: absolute;
}

.btn:hover {
    background-color: #83aa6b;
}

.container1 {
    display: block;
    margin-top: 1%;
    height: 100%;
    float: left;
    margin-left: 3%;
}

/*display: block;
    margin-top: 2%;
    float: left;
    margin-left: 3%;*/

.container3 {
    display: block;
    height: 100%;

    margin-top: 3%;
    margin-left: 57%;
}

.container7 {
    display: block;
    height: 100%;

    margin-top: 6%;
    margin-left: 12%;
}

.container8{
	margin-left:35%;
}

#CreateGroup{
	height:50px;
	width:100px;
}

.input {
    margin-top: 5px;
}


.container2 {
	margin-left: 103%;
}



.container6{
	margin-left:70%;
	
}

.btn_view {
    padding: 15px 30px;
    color: black;
    background-color: #83aa6b;
    font-size: 20px;

    cursor: pointer;

    position: absolute;
    font-weight: bold;
    margin-left: 20%;
}

.list {
    float: left;
	
}

.list2 {
    display: contents;
    justify-content: space-evenly;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

a.active, a:hover {
    background: #9bba88;
    transition: .3s;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #83aa6b;
    transition: .3s;
}

.title {
    width: 750px;

    border: 1px solid #AAAAAA;
    border-radius: 15px;
    padding: 16px 20px;

    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

	position: top;

    background-color: #83aa6b;
	margin-left: 0.8%;
	
}

.title2 {
    width: 352px;

    border: 1px solid #AAAAAA;
    border-radius: 15px;
    padding: 16px 20px;

    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    background-color: #83aa6b;
	margin-left: 1.5%;
	
}

.schedule {
	margin-top:4%;
	color: black;

}

.name {
	font-size: 20px;
}
