body {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navi {
    font-family: 'padding', sans-serif;
}

nav {
    background: #83aa6b;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

.wave {
    opacity: 0.2;
    position: fixed;
    height: 110%;
    left: -60;
    bottom: -65;
    z-index: -1;
}

a.active, a:hover {
    background: #9bba88;
    transition: .3s;
}

.active{
    background: #9bba88;
}

a {
    background: #83aa6b;
}

.container1 {
    text-align: center;
    margin-top: 100px;
}

.container2 {
    text-align: center;
    margin-top: 10px
}

.btn {
    outline: none;
    border-radius: 25px;

    width: 400px;
    height: 200px;

    padding: 0px;
    font-size: 30px;
    cursor: pointer;

    margin: 10px;
    transition: 0.3s;
    position: relative;

    color: white;
    text-transform: uppercase;

    opacity: 0.7;
    background-size: 80%;
    background-position: center;

    /*background-blend-mode: revert;*/
    /*background-size: cover;*/
}

.btn.statistics {
    background-image: url("../img/stats.png");
    /*background-position: 10px -30px;*/
}

.btn.schedule {
    background-image: url("../img/schedule2.png");
    background-position: left;
    background-size: 90%;
}

.btn.medicine {
    background-image: url("../img/medicalReference.png");
}

.btn.chooseClass {
    background-image: url("../img/chooseClass.png");
}

.btn.students {
    background-image: url("../img/students.png");
    background-size: 85%;
}

.btn.trainer {
    background-image: url("../img/trainer.png");
}

.btn.groups {
    background-image: url("../img/groups.png");
    background-position: left;
}


.btn.markAttendance {
    background-image: url("../img/markAttendance.png");
    background-size: 90%;
}

/*button text color*/
.btn a {
    padding: 7px 13px;
    border-radius: 10px;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

table.my_table {
    overflow: hidden;
    border-radius: 0px;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.group {
    width: 800px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    padding: 16px 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: #83aa6b;
}

.group:hover {
    background-color: #9bba88 !important;
    transition: .3s;
}

.student {
    border: 1px solid #AAAAAA;
    padding: 5px 16px;
    width: 740px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.student:hover {
    background-color: #83aa6b !important;
    color: white;
    transition: .3s;
}

.btn_add {
    width: 60px;

    text-align: center;
    border: 1px solid #AAAAAA;
    padding: 5px 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.btn_add:hover {
    background-color: #83aa6b !important;
    color: white;
    transition: .3s;
    cursor: pointer;
}

.progress {
    width: 70%;
    height: 30px;
    margin: 5% 15%;
    border-radius: 10px; 
    background-color: grey;
    position: relative;
}
.progress:before {
    content: attr(data-label);
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    text-align: center;
    top: 1px;
    left: 0;
    right: 0;
    border-radius: 10px;
}
.progress .value {
    background-color: #83aa6b;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
}


table.h_table {
    overflow: hidden;
    border-radius: 0px;
    text-align: left;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0px);
}


.hours {
    width: 800px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    color: white;
    /*text-transform: uppercase;*/
    font-family: 'Poppins', sans-serif;
    background-color: #83aa6b;
    word-spacing: 322px;
}

.hour{
    border: 1px solid #AAAAAA;
    padding: 1px 10px;
    width: 30px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
.hour:hover{
    background-color: #83aa6b !important;
    color: white;
    transition: .3s;
}

.date{
    border: 1px solid #AAAAAA;
    padding: 5px 16px;
    width: 740px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    word-spacing: 310px;
    cursor: pointer;
}
.date:hover{
    background-color: #83aa6b !important;
    color: white;
    transition: .3s;
}
