body{
    margin: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navi{
    font-family: 'padding', sans-serif;
}

nav{
    background: #83aa6b;
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

.wave{
    opacity: 0.2;
    position: fixed;
    height: 110%;
    left: -60;
    bottom: -65;
    z-index: -1;
}

/*a.active, a:hover{
    background: #9bba88;
    transition: .3s;
}*/
.active{
    background: #9bba88;
}

.container1{
    text-align: center;
    margin-top: 100px;
}

.container2{
    text-align: center;
    margin-top: 10px
}

.btn{
    outline: none;
    border: none;
    border-radius: 25px;

    width: 400px;
    height: 200px;

    background: none;
    padding: 0px;
    font-size: 30px;
    cursor: pointer;

    background-image: linear-gradient(to right, #83aa6b,  #83aa6b, #d8ffbd);

    margin: 10px;
    transition: 0.3s;
    position: relative;

    color: #fff;
    text-transform: uppercase;
    
    background-size: 200%;
}

.btn a{
    position:absolute;
    color: white;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    border-radius: 25px;
    padding: 2.5em;
}

.btn:hover{
    background-position: right;
    cursor: pointer;
}

table.my_table {
    overflow: hidden;
    border-radius: 10px;
    text-align: left;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0px);
}

.group {
    width: 800px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    padding: 16px 20px;
    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-color: #83aa6b;
}
/*.group:hover{
    background-color: #9bba88 !important;
    transition: .3s;
}*/

.student{
    border: 1px solid #AAAAAA;
    padding: 5px 16px;
    width: 740px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
.student:hover{
    background-color: #83aa6b !important;
    color: white;
    transition: .3s;
}

.btn_add{
    width: 60px;

    text-align: center;
    border: 1px solid #AAAAAA;
    padding: 5px 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}
.btn_add:hover{
    background-color: #83aa6b !important;
    color: white;
    transition: .3s;
    cursor: pointer;
}

