body {
    margin: 0;
    padding: 0;
    font-family: 'padding', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.navi {
    font-family: 'padding', sans-serif;
}

nav {
    background: #83aa6b;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

nav ul li a:active, nav ul li a:hover{
	background: #9bba88;
	transition: .3s;
}

.wave {
    opacity: 0.2;
    position: fixed;
    height: 110%;
    left: -60;
    bottom: -65;
    z-index: -1;
}

.card {
    outline: none;
	border-radius: 15px;
    border: 1px solid #AAAAAA;

    width: 500px;
    height: 80px;

    background: none;
    padding: 0px;
    font-size: 16px;

	background-image: linear-gradient(to right, white, #ccdbbd);

    margin: 10px;
    transition: 0.3s;
    position: relative;


    color: #000;

    background-size: 200%;

}

.card_tr {
	outline: none;
	border-radius: 15px;
    border: 1px solid #AAAAAA;

    width: 500px;
    height: 70px;

    background: none;
    padding: 0px;
    font-size: 16px;

	background-image: linear-gradient(to right, white, #ccdbbd);

    margin: 10px;
    transition: 0.3s;
    position: relative;


    color: #000;

    background-size: 200%;
}

.btn {
	width: 80px;
    height: 80px;
	border-radius: 15px;
    border: 1px solid #AAAAAA;
    padding: 0;
    color: #000;
    background-color:#ccdbbd;
	font-weight: bold;
    cursor: pointer;

    position: absolute;
}

.btn:hover {
    background-color: #83aa6b;
}

.container1 {
    float: left;
    margin-left: 3%;
    margin-top: 1%;
}

.container2 {
	width: 80px;
    height: 65px;
    margin-left: 103%;
}

.btn_view {
    padding: 15px 30px;
    color: black;
    background-color: #83aa6b;
    font-size: 20px;

    cursor: pointer;

    position: absolute;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 8%;

}

.list {
    float: left;
    margin-left: 27%;
}

.list_tr {
	float: left;
    margin-left: 30%;
}

.title {
    width: 600px;

    border: 1px solid #AAAAAA;
    border-radius: 15px;
    padding: 16px 20px;

    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    background-color: #83aa6b;
	margin-left: 27.5%;
	margin-top: 3%;
}

.title4 {
	width: 798px;

    border: 1px solid #AAAAAA;
    border-radius: 15px;
    padding: 16px 20px;

    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    background-color: #83aa6b;
	margin-left: 25.1%;
	margin-top: 3%;
}

.title5{
	width: 795px;

    border: 1px solid #AAAAAA;
    border-radius: 15px;
    padding: 16px 20px;

    color: white;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;

    background-color: #83aa6b;
	margin-left: 25.1%;
	margin-top: 3%;
}
}

.schedule {
	margin-top: 5%;
	color: black;

}

.name {
	font-size: 20px;
}

